@import url(//db.onlinewebfonts.com/c/e5c490a944bc2b2746f0c851501e46c7?family=AvenirNextW10-Bold);
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p1: #afd197;
  --p2: #226c54;
  --p3: #489981;
  --p4: #fffef2;
  --p5: #35856a;
  --p6: #399574;
  --p7: #073328;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* ;ackground-color: #000000; */
  /* background-color: #226c54; */
  background-color: #073328;
  scroll-behavior: smooth;
  overflow-x: hidden
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

@font-face {
  font-family: "AvenirNextW10-Bold";
  src: url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot");
  src: url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/e5c490a944bc2b2746f0c851501e46c7.svg#AvenirNextW10-Bold")
      format("svg");
}

.Avenir {
  font-family: AvenirNextW10-Bold;
  font-display: swap;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.txg {
  color: #b8bcbf;
}

.ld-04 {
  letter-spacing: 0.025em;
}

.lh-6 {
  line-height: 1.08;
}

.text-80 {
  font-size: 80px;
}

.font-4 {
  font-family: Inter, sans-serif;
}

.tr04 {
  transition: 0.4s;
}

.tr04::before {
  content: "•";
  vertical-align: text-bottom;
  margin-right: 1px;
  font-size: 2rem;
  opacity: 0;
  transition: 0.2s;
}

.tr04:hover::before {
  opacity: 1;
}

.clearNav {
  backdrop-filter: saturate(180%) blur(5px) !important;
  /* background-color: rgba(0, 0, 0, 0.7) !important; */
  /* background-color: rgba(34, 108, 84, 0.7) !important; */
  background-color: rgba(7, 51, 40, 0.7) !important;
}

.fsac4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 32px;
}

@media (min-width: 720px) {
  .fsac4 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.ktq4 {
  /* background-color: #101111; */
  background-color: var(--p2);
  padding: 2rem;
  border-radius: 10px;
}

.fkrr1 {
  font-family: "Inter", sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}